@import url(https://fonts.googleapis.com/css?family=Audiowide);

html {
  background-image: url(http://cs630528.vk.me/v630528167/7cf/5lAAzfs4moU.jpg);
  font-family: 'Audiowide', 'Roboto', sans-serif;
  color: white;
}

span {
  display: block;
}

#sales {
  background-image: none;
  background-color: #262626;
}

nav {
  /*vertical-align: bottom;*/
  display:block;
  /*margin: auto;*/
  height:3rem;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 45px;
  width: 95%;
  border-radius: 10px;
  background-color: rgba(230, 245, 255, 0.25);
  text-align: center;
  vertical-align: middle;

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #fee400;
}

.navdiv {
  display: inline-block;
  width: 33%;
}

.title-bar {
  position: relative;
  top: 45px;
  margin:45px;
  width: 95%;
  border-radius: 10px;
  background-color: rgba(230, 245, 255, 0.25);
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-size: 5em;
  margin: 0,0,0,0;
}

p {
  font-family: 'Roboto', sans-serif;
  margin: 0,0,0,0;
}

#bodydiv {
  margin: auto;
  height:70%;
  width:95%;
  position: fixed;
  left: 20px;
  top: 217px;
}
.diptych {
  background-color: rgba(230, 245, 255, 0.25);
  display:inline-block;
  position: relative;
  margin:inherit;
  text-align: center;
  vertical-align: top;
  border-radius: 10px;
  width:49%;
  /*height:60%*/
  min-height: 500px;
}

#storestats {
  float: right;
}

#served {
  font-size: 8em;
}

.nobullets {
  list-style-type: none;
}

table {
  /*table-layout: fixed;*/
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  border: 1px solid white;
  background-color: rgba(38, 38, 38, 0.75);
  font-family: 'Roboto', sans-serif;;
  font-size: .75em;
  text-align: left;
}

th, td {
  border-bottom: 1px solid rgba(230, 245, 255, 0.10);
  height:1.5em;
}

#second {
  border-bottom: 1px solid rgba(230, 245, 255, 0.50);
}

[scope=row] {
  width: 5%;
}

tr {
  width: 25%;
}
